.wrapper .Card {
    overflow: hidden;
    margin: 0 -10px;
    padding: 0;
    list-style: none;
}

.vacationDestenation {
    color: rgb(117, 153, 201);
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
}

.vacationDetails {
    position: relative;
    height: 80px;
    overflow: hidden
}

.cardMain {
    height: 500px;
    margin: 50px;
}

.dateAndDetails {
    text-align: center;
}

.vacationDate {
    font-weight: bolder;
}

.followIcon {
    border: none;
    background: none;
}

.modal-backdrop {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.delete-btn {
    position: absolute;
    right: 25px;
    bottom: 20px;
    display: inline-block;
    background-color: transparent;
    border: 0px transparent;
}

.edit-btn {
    position: absolute;
    bottom: 15px;
    right: 175px;
    background-color: transparent;
    border: 0px transparent;
}